#nav {
  text-align: right;
  margin-top: -20px;
  position: fixed;
}
#nav li {
  text-align: right;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

#nav a {
  font: Helvetica;
  text-align: center;
  color:  #999999;
  text-decoration: none;
}

body {
  background-image: url(grass_tree_sky_light_summer-landscape.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center;
  position: absolute;
  height: 100px;
  width: 100%;

}

main {
  background-color: white;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px slategrey;
  border-style: solid;
  border-width: 1px;
  border-color: gold;
  opacity: 0.4;

  max-width: 660px;
  margin: 0 auto;

      background: none repeat scroll 0 0 #FFFFFF;
      border-radius: 18px 18px 18px 18px;
      clear: both;
      margin-top: 40px;

      overflow: hidden;
      padding: 40px 20px 0;
      width: 900px;
}


h1{
  font: 50px 'Grand Hotel';
}
/*h1 {
  font-size: 400%;
  font: Helvetica;
  text-align: center;
}*/

/*use this image in 'contacts' section
#yellowtree img {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}*/

p {
  color: black;
}

footer {
  backgroud-color: #e7a45d;
  color: gray;
  text-align: center;
}
