/** {
  border: solid;
  color: black;
}*/
body {
  margin-top: 50px;
  background-image: url(grass_tree_sky_light_summer-landscape.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: absolute;
}
/*
header {
  background-color: #c4c4c4;
  padding: 10px 20px;
  border-bottom: 1px solid #848484;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 700px;
  position: relative;
}
header nav {
  text-shadow: 0 1px 0 #555;
  position: absolute;
  right: 0px;
  top: 0px;
}
header nav ol {
  margin: 0;
  line-height: 55px;
}
header nav li {
  display: inline;
  margin-left: 25px;
}
header nav a {
  color: white;
  text-decoration: none;
}*/

header {
  margin-top: 0px;
  text-align: right;
  position: fixed;
}

#nav li {
  text-align: right;
  display: block;
  padding: 0px 10px 10px 10px;
  margin: 0px -20px;

}

#nav a {
  font: Helvetica;
  text-align: center;
  color:  #999999;
  text-decoration: none;
}

main {
  background-color: rgba(255, 255, 255, 0.4);

  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px slategrey;
  border-style: solid;
  border-width: 1px;
  border-color: gold;
  opacity: 1;

  max-width: 800px;
  margin: 0px 200px;
}

h1{
  margin: 0px auto;
  font: 70px 'Grand Hotel';
}
/*h1 {
  font-size: 400%;
  font: Helvetica;
  text-align: center;
}*/

/*use this image in 'contacts' section
#yellowtree img {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}*/

p {
  color: black;
}

footer {
  backgroud-color: #e7a45d;
  color: gray;
  text-align: center;
}
